@import url('http://fonts.cdnfonts.com/css/sans-comic-sans');

html {
    font-family: "Comic Sans MS", "Comic Sans", cursive, Arial, sans-serif;
    background-color: blue;
    color: white;
}
body {
    display: flex;
    justify-content: space-between;
    margin: 50px 50px;
}
.red {
    color: red;
}
.yellow {
    color: yellow;
}

#side-panel {
    border: 5px solid yellow;
    width: 350px;
    padding: 10px 17px;
    background-color: #00dbff;
    box-shadow: 10px 10px 60px black;
}
.a-subtitle {
    margin: 0 0 35px;
}
.a-title {
    text-decoration: underline;
    color: yellow;
    margin: unset;
}
.a-img {
    width: 250px;
}
.rayé {
    text-decoration: line-through;
}
#home-title {
    border: 5px solid black;
    padding: 20px 60px;
    background-color: yellow;
    box-shadow: 10px 10px 60px black;
    margin-bottom: 50px;
    margin-right: 30px;
}
#home-title > h1 {
    color: black;
    font-size: 60px;
    margin: unset;
}
#home-title > h3 {
    color: darkblue;
    font-size: 30px;
    margin: unset;
}
.button-moche {
    padding: 3px 10px;
    background-color: red;
    display: inline-block;
    border-radius: 8px;
    text-decoration: underline;
    cursor: pointer;
    margin: 4px 5px;
}
#bottom-panel {
    margin-top: 70px;
}
#main * {
    margin: unset;
}
#main > h1 {
    font-family: Algerian, "Copperplate Gothic Bold", "Engravers MT", "Rockwell Extra Bold", serif;
    font-size: 50px;
}